#game_table {
	font-size:0.3em;
	margin:auto;
	border-collapse: separate;
	background:white;
	box-shadow: 
	    0 0 0 10px hsl(209, 100%, 26%),
		0 0 0 15px hsla(192, 91%, 34%, 0.747),
		0 0 0 20px hsla(199, 56%, 57%, 0.719),
		0 0 0 25px hsla(192, 48%, 63%, 0.541),
		0 0 0 30px hsla(196, 100%, 95%, 0.192);
}
#game_table td{
	width:1em;
	height:1em;
}
.p-1{background:darkslategray;}
.p0{background:lightgray;}
.p1{background:#0087FF;}
.p2{background:#FF8800;}
.p3{background:#65FF00;}
.p4{background:#CC00FF;}
.p5{background:#EDFF00;}
.p6{background:#00FFEE;}
.p7{background:#FF00A9;}
.p8{background:#FF0000;}
.p9{background:#000000;}

.hidd{
	display:none;
}
.fleft{
	float:left;
}
.fright{
	float:right;
}
.legend{
	width:1em;
	height:1em;
	display: inline-block;
}
.tilesize{
	width:15em;
}
#info-text{
	text-align: center;
}
.selector.active{
	background: rgb(255, 255, 132);
	border: 1px solid darkgoldenrod;
	font-size:1.5em;
	padding:1em;
}
.selector{
	display: inline-block;
}
#parrilla{
	position: absolute;
	right:0px;
	width:10em;
	text-align: right;
	margin:1em 2em;
	white-space: normal;
}